

  .menu{
    height: 20px;
    margin-left:24px;
    margin-right: 20px;
    
  }
  .tnl-row{
    position: relative
  }

  .yt-logo{
    height: 20px;
    
  }
      .thumbnail {
        width: 96%;
       border-radius: 15px;
        
      }
.vid-t{
  background-color: black;
  color: white;
  position: absolute;
  bottom: 0;
  right: 0 ;
  margin-bottom: 10px;
  margin-right: 21px;
  border-radius: 4px;

}
     

      .author{
        display: inline-block;
        font-size: 12px;
        color: rgb(96, 96, 96);
        margin-bottom: 5px;
      }

      .stats{
        display: block;
        font-size: 12px;
        color: rgb(96, 96, 96);
      }

      .titles{
        margin-top: 0;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        margin-bottom: 12px;
      }

      .video-preview{
      
      }

      .chnl-pic{
        width: 50px;
        vertical-align: top;
      }
      .vid-info{
        width: 200px;
      }

      .p-fp{
        width: 40px;
        border-radius: 50px;
      }

      .tnl-row{
        margin-bottom: 10px;
      }

      .vid-inf-grid{
        display: grid;
        grid-template-columns: 50px 1fr;
      }

      .video-grid{
        margin-left: 10px;
        margin-right: 10px;
       margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 16px;
        row-gap: 40px ;
        padding-left: 80px;
      }
